<launch>
<rosparam command="load" file="$(find ipa_canopen_tutorials)/examples/single_device_simple/CANopen_buses.yaml" />
<rosparam command="load" file="$(find ipa_canopen_tutorials)/examples/single_device_simple/CANopen_devices.yaml" />
<node name="canopen_ros" pkg="ipa_canopen_ros" type="canopen_ros" />
<node name="simpleVelCommander" pkg="ipa_canopen_tutorials" type="single_device_simple.py" />
</launch>
